RewriteEngine On
RewriteBase /eWallet
RewriteRule ^api/([0-9a-zA-Z]+)$ api/controllers/users-controller.php?route=$1 [NC,L]
RewriteRule ^api/([0-9a-zA-Z]+)/([0-9a-zA-Z]+)$ api/controllers/users-controller.php?route=$1&param1=$2 [NC,L]
